<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="
                            http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
                            http://www.springframework.org/schema/security
                            http://www.springframework.org/schema/security/spring-security-3.1.xsd" >


    <http realm="Protected API" auto-config="false" create-session="stateless" use-expressions="true"
              entry-point-ref="CustomAuthenticationEntryPoint">

        <custom-filter ref="authenticationTokenProcessingFilter" position="FORM_LOGIN_FILTER"/>
        <intercept-url pattern="/ping" access="permitAll"/>
        <intercept-url pattern="/auth" access="permitAll"/>

        <intercept-url pattern="/**" access="isAuthenticated()"/>
    </http>


    <beans:bean id="CustomAuthenticationEntryPoint"
          class="com.valdemar.storytail.auth.CustomAuthenticationEntryPoint"/>

    <beans:bean class="com.valdemar.storytail.auth.AuthenticationTokenProcessingFilter"
          id="authenticationTokenProcessingFilter">
        <beans:constructor-arg ref="authenticationManager"/>
    </beans:bean>


    <!-- Implementar o meu Authentication Manager -->

    <authentication-manager alias="authenticationManager">
        <authentication-provider>
            <user-service>
                <user name="mkyong" password="123456" authorities="ROLE_USER"/>
            </user-service>
        </authentication-provider>
    </authentication-manager>


</beans:beans>